Source: php-datamolino
Build-Depends: debhelper (>= 7.0.50~),php-apigen
Standards-Version: 3.8.4
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Uploaders: Vitex <vitex@hippy.cz>
Priority: optional
Homepage: https://github.com/VitexSoftware/phplib-datamolino

Package: php-datamolino
Depends: ${misc:Depends},php5-curl | php7.0-curl,ease-framework
Suggests: composer,php-datamolino-doc
Architecture: all
Section: web
Priority: optional
Description: PHP Based datamolino RestAPI/Json library
 Allow you perform read and write operations on datamolino
